// -----------------------------------------------------------------------------
// This file contains all styles related to the common layout of the site
// -----------------------------------------------------------------------------
#wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

body {
  font-family: 'graphik_lc', Arial, Helvetica, sans-serif;
  color: var(--color);
  background-color: #ffffff;
  font-weight: 400;
}

a {
  color: var(--color);
  position: relative;
  z-index: 1;
  display: inline-block;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}



